<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/register" method="post">
            <label>Username</label>
            <input type="text" name="username" required>

            <label>Password</label>
            <input type="text" name="password" required>

            <label>Confirm password</label>
            <input type="text" name="confirm_pass" required>

            <label>Submit</label>
            <input type="submit" value="Завантажити">
        </form>
    </div>
</body>
</body>
</html>